variables:
  GIT_SUBMODULE_STRATEGY: recursive
  GIT_SUBMODULE_FORCE_HTTPS: "true"

before_script:
  - npm install -g pnpm
  # TODO: handle this better - we are doing this because the cache is being used wrongly
  - pnpm i --frozen-lockfile
  - pnpm clean:workspaces
  - pnpm clean
  - pnpm i --frozen-lockfile

stages:
  - lint
  - test
  - build
  - deploy

lint:
  stage: lint
  tags:
    - cm3588
  image: "node:22.11"
  script:
    - pnpm typecheck
    - pnpm lint

test:
  stage: test
  tags:
    - cm3588
  image: "node:22.11"
  script:
    - echo "app test"

build:
  stage: build
  tags:
    - cm3588
  image: "node:22.11"
  script:
    - cd apps/web
    - pnpm cloudflare:build
  artifacts:
    paths:
      - apps/web/.vercel/output/static/
    expire_in: 1 hour

web-deploy:
  stage: deploy
  tags:
    - cm3588
  image: "node:22.11"
  dependencies:
    - build
  script:
    - cd apps/web
    - pnpm cloudflare:deploy
  rules:
    - if: $CI_COMMIT_BRANCH == "main"
